std::string seriesSum(int n)
{
     if (!n) return "0.00";
     double sum = 0.00;
     int i = 1;
     while (n--)
     {
        sum += 1.0/(3*i-2);     
        ++i;
     }
     char buffer[10];
     sprintf(buffer,"%.2f", sum);//将double打印成字符串
     std::string res = buffer;
     return res;
     
}
